<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingredients List</title>
  <!--google fonts-->
  <link
    href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Subrayada|Press+Start+2P|Rye|VT323&display=swap"
    rel="stylesheet">
  <!--CSS modifications-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/mealPlan.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/addRecipe.css">
</head>

<body>
  <h1 class="center" id="top">Shopping List</h1>

  <div class="grid container topnav">
    <div class="row">

      <div class="relative col">
        <a href="\"><img id="calendar" class="image" src="images\calendar.jpg">
          <div class="centered">Calendar</div>
        </a>
      </div>

      <div class="relative col">
        <a href="addRecipe"><img id="addRecipe" class="image" src="images/addRecipe.jpg">
          <div class="centered">Add a Recipe</div>
        </a>
      </div>

      <div class="relative col">
        <a href="pantry"><img id="pantry" class="image" src="images/pantry.jpg">
          <div class="centered">Pantry</div>
        </a>
      </div>

      <div class="relative col">
        <a href="recipeList"><img id="recipeList" class="image" src="images/recipeList.jpg">
          <div class="centered">List of Recipes</div>
        </a>
      </div>
      <div class="relative col">
        <a class="active" href="ingredientList"><img id="ingredientList" class="image" src="images/ingredientList.jpg">
          <div class="centered">Shopping List</div>
        </a>
      </div>
    </div>
  </div>

  <div class="row relative1" id="bgImage">
    <img class="image1" src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Shopping_cart_with_food_clip_art_2.svg">

    <ul style="list-style-type:none;" class="col centered1"> 
      <% var list='' ; for (i=0; i < ingredients.length; i++) { if(i%3 == 0) list +='<li>' + ingredients[i][0] + ' ' +
        ingredients[i][1] + ' ' + ingredients[i][2] + '</li>' ; } %>
        <%- list%>
    </ul>
    <ul style="list-style-type:none;" class="col centered2"> 
      <% var list1='' ; for (i=0; i < ingredients.length; i++) { if(i%3 == 1) list1 +='<li>' + ingredients[i][0] + ' ' +
        ingredients[i][1] + ' ' + ingredients[i][2] + '</li>' ; } %>
        <%- list1%>
    </ul>
    <ul style="list-style-type:none;" class="col centered3"> 
      <% var list2='' ; for (i=0; i < ingredients.length; i++) { if(i%3 == 2) list2 +='<li>' + ingredients[i][0] + ' ' +
        ingredients[i][1] + ' ' + ingredients[i][2] + '</li>' ; } %>
        <%- list2%>
    </ul>
  </div>

  <div class="center">
    <a href="#top">Top</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>