<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Subrayada|Press+Start+2P|Rye|VT323&display=swap"
          rel="stylesheet">
    <!--CSS modifications-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/recipelist.css">
  </head>
  
  <body>
      <h1 class="center">List of Recipes</h1>
      <div id="myData"></div>

      <!--table style="width: 100%">
        <tr>
          <th style="width: 10%">Recipe Name</th>
          <th style="width: 40%">Recipe Ingredients</th>
          <th style="width: 50%">Method of Preparation</th>
        </tr>
        <%
          var list = '';
          for (i = 0; i < recipelist.length; i++) {
            list += '<tr><td>' + recipelist[i].recipeName + '</td><td>' + recipelist[i].ingredients + '</td><td>' + recipelist[i].prepMethod + '</td></tr>';
            if (i < (recipelist.length - 1)) {
              list += '<tr><td>&nbsp;</td></tr>';
            }
          }
        %>
        <%- list %>
      </table-->
      <%
          var list = '';
          for (i = 0; i < recipelist.length; i++) {
            list += '<div id="formAddRecipe"><p class="recipeForm" id="inputRecipeName"><strong>RECIPE TITLE: </strong>' + recipelist[i].recipeName + '</p><div id="ingredPrep"><p><strong>INGREDIENTS: </strong>' + recipelist[i].ingredients + '</p><p><strong>PREPARATION: </strong>' + recipelist[i].prepMethod + '</p></div><p>&nbsp;</p></div>';
            if (i < (recipelist.length - 1)) {
              list += '<hr>';
            }
          }
        %>
        <%- list %>
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>