<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Recipe List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < recipelist.length; i++) {
          list += '<li><a href="mailto:' + recipelist[i].recipeName + '">' + recipelist[i].recipeName + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>