#formAddRecipe {
    background-color: gray;
    margin-left: 16.7%;
    margin-right: 16.7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

.center {
    text-align: center;
}

.recipeForm {
    margin-top: 2%;
    margin-bottom: 2%;
}

#ingredPrep {
    background-color: beige;
    padding: 2%;
}

#btnSubmit {
    background-color: beige;
    color: gray;
}

#btnAddIng {
    background-color: gray;
    color: beige;
}

.beige {
    color: beige;
}

.gray {
    color: gray;
}

#bgImage {
    /*background-image: url("https://i.insider.com/5e0a54e3855cc27bf1384746?width=1000&format=jpeg&auto=webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .5;*/
    font-weight: bolder;
}

.centered1 {
    position: absolute;
  }

  .centered2 {
    position: absolute;
    left: 33.3%;
  }

  .centered3 {
    position: absolute;
    left: 66.7%;
  }
  
  .relative1 {
    position: relative;
  }
  
  .image1 {
    width: 100%;
    height: auto;
    opacity: .5;
  }