#formAddRecipe {
    background-color: gray;
    margin-left: 16.7%;
    margin-right: 16.7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    /*padding-bottom: 5%;*/
}

.center {
    text-align: center;
}

.recipeForm {
    /*margin-left: 16.7%;
    margin-right: 16.7%;*/
    margin-top: 2%;
    margin-bottom: 2%;
}

#ingredPrep {
    background-color: beige;
    padding: 2%;
}

#inputRecipeName {
    width: 60%;
}

#btnSubmit {
    background-color: beige;
}