.center {
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
  text-align: center;
}

.image {
  width: 78%;
  height: auto;
  border-radius: 25px;
}

.topnav {
  background-color: rgb(100, 99, 99);
  overflow: hidden;
  border-radius: 25px;
}

.topnav a {
  float: left;
  color: #333;
  font-weight: 900;
  /*text-align: center;*/
  padding: 10% 10%;
  text-decoration: none;
  font-size: 130%;
}

.topnav a:hover {
  background-color: gray;
  color: #333;
  font-weight: 900;
}

.topnav a.active {
  background-color: beige;
  color: #333;
  font-weight: 900;
}