#formAddRecipe {
    background-color: rgb(155, 46, 46);
    margin-left: 16.7%;
    margin-right: 16.7%;
    padding: 2%;
}

.center {
    text-align: center;
}

.recipeForm {
    /*margin-left: 16.7%;
    margin-right: 16.7%;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.ingredPrep {
    background-color: rgb(241, 241, 133);
    padding: 2%;
}

#inputRecipeName {
    font-size: 16px;
    font-family: 'Bungee Inline', cursive;
}

#btnSubmit {
    background-color: rgb(241, 241, 133);
}

.underline {
    text-decoration: underline;
}