#formAddRecipe {
    background-color: lightgray;
    margin-left: 16.7%;
    margin-right: 16.7%;
    padding: 2%;
}

.center {
    text-align: center;
}

.recipeForm {
    /*margin-left: 16.7%;
    margin-right: 16.7%;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.ingredPrep {
    background-color: beige;
    padding: 2%;
}

.cursive {
    font-family: 'Meddon', cursive;
}

.handwriting {
    font-family: 'Indie Flower', cursive;
}

.underline {
    text-decoration: underline;
}

.title {
    font-size: 28px;
}

.text {
    font-size: 18px;
}