<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Planning App</title>
  <!--google fonts-->
  <link
    href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Subrayada|Press+Start+2P|Rye|VT323&display=swap"
    rel="stylesheet">
  <!--CSS modifications-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="mealPlan.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    .center {
      text-align: center;
    }

    .image {
      width: auto;
      height: 75%;
    }

    /*.grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }*/
  </style>
</head>

<body>
  <h1 class="center">Meal Planning App</h1>
  <div class="grid container">

    <div class="row">

      <div class="center col">
        <a href="/getMealPlan/Calendar"><img id="calendar" class="image"
            src="https://lh3.googleusercontent.com/qlJWvSVxmPQNeYrmOUfkwdANLFbHVzprwiC-7cYu01y7qzkMXU4aB6XFoi2Deqr8xIfrpZomGgi1zr2sSB5JhLMDy-S1CSrtXrwYjW8WD-mGtwHdswrcZHrkDuCOoZ2lRdO0oaPOOazFL1a3G8CH1u5PzaLJsUZl2wACgsLAT7LCDdUsGBWol-oMiyk2m__2UuMIRWNn9RVaTyXHa0ZGTcG5DcQi0DsPw1SeVQ5VXkRKSIzGfbIamYPshaswwe0FfH4vCiA3FkkjIj7pq3VmUqXrKPMopTBrasn-OPC8Ebpuj8nzob8QoYB0MC1F3Yp6McxNAt4AM9_wLQ09_d58iJp_bZr2hEzSN_igFNzE5nxvEXkDDJ-6O91h1a8PD8RqCSPTuTbRS9QotXF6oHxqkSRrU4vQvJ7AWVAOaKPzuHQ5v6Rp6KIKFW1CYDn4YDwTYiuyp2dPc_Xt8G2oyJl9RuKZVqV9gfg2rLLV_q9l4vXuw0jFgVrCT-Qzy9FEDNFVT9024vA1q4eGWXRjp0aHNH-6-qnn_dr1Q5Tx6ZjuZVBwWLidb6YxIveDWpmE4ni3zuQERpEAqTJczuslJrfrRHM2H_xcX7aohGpWKW_n_Y7MtcGkFQSXTX-9z54FbsOmeTFideEQO39B8BecQ5Vf1hwPBSO3AdYEKmOE9Qlz16fFGzTHdNBv-Bwy73ik-ZBjppJdg9T3WFZ8KXCn3MWLP60=s500-no?authuser=0">
          <br>Calendar</a>
      </div>
      <div class="center col">
        <a href="/getMealPlan/planMeals"><img id="planMeals" class="image"
            src="https://lh3.googleusercontent.com/y8T8m5QQRapS9EnCSb-OVICNKOoR6cYx9BfcoLQzxxzlQFFZixgZyGLZD04x1LTXfJlEyITSgLlVYv6kfpCnFnZ4oSZDe6H_vSe0ufN0qSVaJsmY9TYv76i7kYZc-eRujNNoISQAXbzu9Cy_iLAib5Yy4TXQ4OZ-_xEwAHAcr-FsRgVsENrl9sKM6SIq7vxljLxiaBNQ2DQ5OEiEibIBjPG3kXo_eNQBCQj-WNS81_f8Y9CNqW-LEKQTA3rwlGGepXMqohNHl_OuAs7o-h3xmP3zDC_gYowmeqc8WUDzvrXt2iyPzTr4--X_VUIjzr3RrGXA6uKWRPS0uA6HKtOrYC0of7zssz11OseZIgZSlOUKTET7gkUqZbtmCAaL6JNIttkZ-d7Ey-n-lo9Fd_MHtcgD28bn4tpS-ii6Hhu26_N8ctYZGwyxJDiLObwdeuffjLPiWSBI988U9Hv9kxLD1k9K7aefopHXfBH7h2AjE-HEXCVCpJkws503xDVbXwHdAvR_W-w_uQqxwuQuYgjvzyp6KymXRXGEzMrdbi30H-I2VsWLZZljeE13QHJ2NiAD2aTznrkCev22kBTOBmGDlqKHQ9dsx3Jb_TmrP3lXRRS3qy8THX3qVPRZcajykWE1Yg0o7oLvtXWNQ4NOA_muquFGMhxI4C8Xco00AXAQ80XvGXUu2QM8CvEDO_54HO-r36dl5DC99i-nCphZvirj_8A=s500-no?authuser=0">
          <br>Plan Meals</a>
      </div>
      <div class="center col">
        <a href="/getMealPlan/addRecipe"><img id="addRecipe" class="image"
            src="https://lh3.googleusercontent.com/a0tQtF3M2d6Njre8hTGimYlo1VVLqUUK_KiFOHZcPQ5iKAXgmaPq_LZh-WBMfCVel1Io57UwOEWLjSennJvqt1PU0HF74w5GJrpEyyMQdbuz4NV_13Ng0xAuSb-pR23kb3YUTjQSrXTPwrXrF0yVZjIyJgp68luoAY-jf0SYeGEyZDQSRp4TKtAM4yzrzVoiWOFDkxyC9o7txMwtacATbbOYPHFsih1Mh0rcdXKPrGDwRLUOLn9w_LgMDpIPHTKQMoKUiOxOW3xHZKSuPEJsck-dGtlQbqMDOaLeu8l1Mkg87niTNkpoa_Xpl78gNDMuehb3lcymHE-xwTb62oXkLkOEZDukMLVmZROGxc7MJTT_o7GQGxFK9_5NjzxWv2JjyH22khq-VcBX_fNmkNkbAvZN7pXFkd-mj9tKo9ghbF1V6BOB8QJB2KlNtpw8zSlkBiNfVkiY_AHEDsoYlAcggEmyvSCLvAMBBRnRpA__tpdxWwUYsC-1AsSPhEeIoGE6ZEFm7Ju1lE0bwA4j7hYW0Z5P_XlZ_REphtj2F_fNRKGbWqPCmRVYOYimC7psvZSKGSiLeGcd9HDLR9rtVKyxMlN82NY6_-WNjErR9Xz7nlnJrdjIrtxlog74TAKr5yICekSqyFzOhe_Y5aRCAWXshkB8vFV6XZCh1K8yUGe7nML-JP1xdXegVMN667tu5Xi-8tCi0loaZcw_BMs2LcgI9X8=s500-no?authuser=0">
          <br>Add a Recipe</a>
      </div>

    </div>
    <div class="row">

      <div class="center col">
        <a href="/getMealPlan/recipeList"><img id="recipeList" class="image"
            src="https://lh3.googleusercontent.com/R_ZGjYBEbAnCZjiiOAfQzLgAh5ZbaP71R2vZ-XQQREU4bTTk8OefWnoBss1MUzSuO-MDiAFjlE9qRY--nfyf3l5Ep8ro1bZ2BES8AdFDZoi4uuLhpmiOpTXsdEYidjdcXZGXZsHXfF42fknB4erDptbE8SHyv4OCAf_dbbCodvuUcJsqidHcWvL8NizJRHycYKkh9INbactLciYy8OPQG-hxypfbfh5255FBcVablG_aTRUIOo5smmd2a2fReeZxQCjYbF6cWFb2Y_Pf2IgsjTk6fE4cVMd1FwrNEB5xeEz7wjVwRixDG5F6GH4xiLQbgSBnF7z5J9CGO2WZ-u2pFbek4aftChewkWMYY5Rpu_rKYdNzCL8Zn-Enfncc_yWJHAYgW8iK3ZmcEGvnBz1ydbOnEqL193QI8DtC-lklhWohmwGKIPsTnH7VMO76gCMMxJptPQ9NmhY10zPe40UGtQs0039AzH65w4QtoEXaMV2GWukMYC10x0W57allmb09NzPuV-b7tSOUbMznCh-5CT04S8d5986XN0R4k1HFGtc9N6_l7CbFMQpDsGhtbqdwDD-pcFFpCbemX8t30s2nEs3T8vFVWmV7AkPQQtKNe8L2uptzYvhlScI4ZAH4FM5D6Yy0bufSxCbw2kv1XAO_TucTIIwdL1mMalvROsTaSzIv6dIbqT_Cdvfb45DCThbFeet52QE2HblLIJMtdywUn-k=s500-no?authuser=0">
          <br>List of Recipes</a>
      </div>
      <div class="center col">
        <a href="/getMealPlan/ingredientList"><img id="ingredientList" class="image"
            src="https://lh3.googleusercontent.com/7uNNtOn_l5pig2ibhX4K9A9kX4LciB3Sac7kb9dvAwypvNaDw0gvkzGUY_RRDGz4IM13Y9EIsoV3S2ehG-7vk5JpG9o80u2z-w5oTg1mbcDiSjXp8ubIjCJbwykyywZnExHfDlS6fOrnBew6dwhz3NqkDfJMR35ajBEySXzGL8FqAoCaz42cz5zDD9GNlZVRdiINBTQVkltfpAGRwvJRFSPvOt4REIgSFAIye-x4gvGzIfq298xzN2kvzMfsQ4iADAX-jGOfel33fTXqFTaiPc5DN7EvYX-zFHmVUYELhzBEOX2tG9MzL9IdIRnAafYuqYc0YcpYO3NYiGrfSoMKYxv7Y22PlheBrs4GfproGl-BqEITVTGZDQ3L4Sr7LDXbr8Dfc5sQjn9dhAErPrLaLtLadTzu-9of8wCDKNjt_gixI9kakETwy0KCY3ApBHNyehx2kldQ8EHAPiUj4_4NJQ9-UMChBlxKqEBXAI3Uj0H6xsyv2rfjmKkOO3LizRsi_rWXoYc27T5CgHlo7eNPZwsiYYYGHc2YXbKOVj9u7qCIo3kLs17C2p0UrHGU2zSukkVoMMYWq7INU0WsLr1wHHlbv0IA04SyAHW3vfF_FsFXqB9bmDyRlMLeU8GFzyQnpKthKzOr9_xedjHha26TIHOLIDAYwL_G7fI7CMr49r-A26axaboHT6igyswLrBeAl2ufB-mq_0SWbqThS7KG7b0=s500-no?authuser=0">
          <br>List of Ingredients</a>
      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>