<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Planning App</title>
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat+Subrayada|Press+Start+2P|Rye|VT323&display=swap"
          rel="stylesheet">
    <!--CSS modifications-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="node-js-getting-started\public\stylesheets\mealPlan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
      <h1 class="center">Meal Planning App</h1>
      <div class="grid">
        <div class="center">
          <a href="Calendar.html"><img id="calendar" class="image" src="node-js-getting-started\images\Calendar.jpg">
          <br>Calendar</a>
        </div>
        <div class="center">
          <a href="planMeals.html"><img id="planMeals" class="image" src="node-js-getting-started\images\pizzaMealPlan.jpg">
          <br>Plan Meals</a>
        </div>
        <div class="center">
          <a href="addRecipe.html"><img id="addRecipe" class="image" src="node-js-getting-started\images\RecipeCard.jpg">
          <br>Add a Recipe</a>
        </div>
        <div class="center">
          <a href="recipeList.html"><img id="recipeList" class="image" src="node-js-getting-started\images\recipeList.jpg">
          <br>List of Recipes</a>
        </div>
        <div class="center">
          <a href="ingredientList.html"><img id="ingredientList" class="image" src="node-js-getting-started\images\Ingredients.jpg">
          <br>List of Ingredients</a>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>